name: Deploy to S3 via OIDC

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::442042528989:role/github-s3-role   # <-- your role
          aws-region: ap-south-1

      - name: Install deps
        run: npm install

      - name: Build
        run: npm run build

      - name: Sync to S3
        run: aws s3 sync build/ s3://ui-app-demo-001 --delete

      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id E27ZOZIMBLRHC8 --paths "/*"
